ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.pretty-background {
  background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
}

.profile-username {
  color: #1248a6 !important;
}
.pretty-background button {
  display: inline;
  background: chocolate;
  border: 3px solid rgb(8, 8, 8);
  color: gold;
  padding: 0.4rem 3rem;
}


.brand {
  cursor: pointer;
  font-size: 3rem;
}
